---
---

// Colors
$black: 			#000;
$white: 			#fff;
$lred: 				#dc4848;
$red: 				#d82a2a;
$lgray: 			#ebebeb;
$gray: 				#666;
$dgray: 			#333;
$blue: 				#2a3039;

// Fonts
$robo: 				"Roboto", Arial, sans-serif;
$pt: 					"Pt Sans", Arial, sans-serif;

$phone-width: 93.75%; /* 300/320= .9375 */
$tablet-width: 91.3043478%; /* 420/460 */
$desktop-width: 940px;
$tablet-process: 60%;
$desktop-skinny: 600px;

@import "mixins.scss";
@import "normalize.scss";

@import "base.scss";
@import "header.scss";
@import "work.scss";
@import "jumbotron.scss";
@import "resume.scss";
@import "about.scss";
@import "single-project.scss";
@import "footer.scss";