---
---

// Colors
$black: 			#000;
$white: 			#fff;
$red: 				#d82a2a;
$lgray: 			#ebebeb;
$gray: 				#666;
$dgray: 			#333;
$blue: 				#2a3039;

// Fonts
$robo: 				"Roboto", Arial, sans-serif;
$pt: 				"Pt Sans", Arial, sans-serif;

$phone-width: 93.75%; /* 300/320= .9375 */
$tablet-width: 91.3043478%; /* 420/460 */
$desktop-width: 940px;
$tablet-process: 60%;
$desktop-skinny: 600px;

@import "mixins.scss";
@import "normalize.scss";

@import "header.scss";
@import "work.scss";
@import "blurb.scss";
@import "resume.scss";
@import "about.scss";
@import "single-project.scss";
@import "footer.scss";

// Styles for 320px to 479px no media querie because this is the default
html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $pt;
	font-size: 14px;
}

// Headings
h1 {
	color: $blue;
	text-shadow: 2px 2px 0 rgba(153,153,153,.75);
	font-family: $robo;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
	margin: 1em 0;
}

h2 {
	font-family: $robo;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	margin: 1em 0;
}

// project title 
h3 {
	font-family: $robo;
	font-size: 21px;
	color: $black;
	margin: 5px 0;
}

// all paragraph text
p {
	font-family: $pt;
	font-size: 16px;
	font-weight: normal;
	color: $dgray;
	margin: 0;
	text-align: left;
	line-height: 1.5;
}

// MEDIA QUERIE FOR 480 TO 767 - LANDSCAPE PHONE
@media screen and (min-width: 480px)  { /* REMOVED and (max-width: 767px) SO THAT THE STYLES THAT I CHANGED WOULD TAKE EFFECT IN NEXT MEDIA QUERIE */

// Headings
h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

// project title 
h3 {
	font-size: 14px;
}

	
}

@media screen and (min-width: 768px) {
	
// Headings
h1 {
	font-size: 32px;
}

h2 {
	font-size: 18px;
}

// project title 
h3 {
	font-size: 21px;
}

	

	

}

@media screen and (min-width: 960px) {

// Headings
h1 {
	font-size: 42px;
}

h2 {
	font-size: 24px;
}

// project title 
h3 {
	font-size: 16px;
}
	
}